body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
th {
  background: #eee;
  border: 1px solid #ddd;
  vertical-align: middle;
  font-size: 0.9em;
}
td {
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 0.4em 0.5em 0.4em 0.5em;
  font-size: 0.9em;
}
.markdown-body img {
  max-width: 100%;
  height: auto;
  width: auto;
}
svg {
  max-width: 100%;
}
.container h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  position: relative;
}
.container h2:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1px;
  background-image: -webkit-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-image: -ms-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-size: 100%;
  bottom: 0px;
}
hr {
  border-style: none;
  height: 2px;
  background-image: -webkit-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-image: -ms-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
}