body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
table,
th,
td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin-bottom: 24px;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

th {
  border-width: 0 1px 1px 0;
  font-weight: bold;
  padding: 2px;
}

td {
  border-width: 0 1px 1px 0;
  padding: 2px;
}
@media (min-width: 768px) {
  th,td {
    padding: 8px;
  }
}
.markdown-body img {
  max-width: 100%;
  height: auto;
  width: auto;
}
svg {
  max-width: 100%;
}
.container h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  position: relative;
}
.container h2:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 1px;
  background-image: -webkit-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-image: -ms-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-size: 100%;
  bottom: 0px;
}
hr {
  border-style: none;
  height: 2px;
  background-image: -webkit-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
  background-image: -ms-linear-gradient(
    0deg, #428bca 20%, #5cb85c 20%, #5cb85c 40%, #f0ad4e 40%, #f0ad4e 60%, #5bc0de 60%, #5bc0de 80%, #d9534f 80%, #d9534f 100%);
}
.text-center {
  text-align: center;
}
.all {
  float: left;
}
.second-title {
  font-size: 14px;
  margin-top: 14px;
  text-decoration: none;
  color: #337ab7;
}
a:hover {
    background-color: #E6EBED;
    color: #107EC0;
}

a {
    color: #107EC0;
}