<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>油田资讯</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
	<div class="container-fluid">
		
		<!-- 视频资料 | 精彩专题 -->

		<div class="hdivider-4"></div>

		<div class="title">
			<div class="one">视频资料</div>			
			<div class="two">精彩专题</div>
			<div class="more">更多+</div>
		</div>

		<br/>

		<div class="hdivider-1"></div>

		<div class="list-group">
		  <a href="#" class="list-group-elem active">
			油价今晚下调  92号汽油每升降1毛2
		  </a>
		  <a href="#" class="list-group-elem">新区一批壮大基础设施项目开建 高速环...</a>
		  <a href="#" class="list-group-elem">大港物联网之趋势篇</a>
		  <a href="#" class="list-group-elem">大港油田云计算宣传片</a>
		  <a href="#" class="list-group-elem">大港油田公司宣传片</a>
		</div>
		
		<!-- 集团新闻 | 企业告示 -->

		<div class="hdivider-4"></div>

		<div class="title">
			<div class="one">集团新闻</div>
			<div class="two">企业告示</div>
			<div class="more">更多+</div>
		</div>

		<br/>

		<div class="hdivider-1"></div>

		<div class="list-group">
		  <a href="#" class="list-group-elem active">
			陕京四线输气管道工程正式开工
		  </a>
		  <a href="#" class="list-group-elem">大港油田召开安全生产电视电话会议</a>
		  <a href="#" class="list-group-elem">大港油田集团公司党校举行2016年春季...</a>
		  <a href="#" class="list-group-elem">大港油田再获“科技创新优秀企业”奖</a>
		  <a href="#" class="list-group-elem">大港油田率公积金贷款政策调整：首套最...</a>
		</div>
		
		<!-- 领导动态 | 媒体聚焦 | 正能量  -->

		<div class="hdivider-4"></div>

		<div class="title">
			<div class="one">领导动态</div>
			<div class="two-with">媒体聚焦</div>
			<div class="two">正能量</div>
			<div class="more">更多+</div>
		</div>

		<br/>

		<div class="hdivider-1"></div>

		<div class="list-group">
		  <a href="#" class="list-group-elem active">
			努尔·白克力考察中石油苏丹项目
		  </a>
		  <a href="#" class="list-group-elem">全国人大常委会委员辜胜阻到中国石油调研</a>
		  <a href="#" class="list-group-elem">杨晶考察中缅油气管道项目</a>
		  <a href="#" class="list-group-elem">李源潮考察东南亚管道公司</a>
		  <a href="#" class="list-group-elem">国务委员王勇到吉林石化考察</a>
		</div>

		<!-- <div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3">1</div>
			<div class="col-xs-3 col-sm-3 col-md-3">2</div>
			<div class="col-xs-3 col-sm-3 col-md-3">3</div>
			<div class="col-xs-3 col-sm-3 col-md-3">4</div>			
		</div> -->
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>