<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>油田黄页</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
	<div class="container-fluid">
		<div class="hspace-10"></div>
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-primary">
					<div class="tableCell">
						<div class="content">快</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2">
					<div class="line-2-cell">
						<div class="line-2-content">快递</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-success">
					<div class="tableCell">
						<div class="content">行</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2-2">
					<div class="line-2-cell">
						<div class="line-2-content-2">交通出行</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-info">
					<div class="tableCell">
						<div class="content">游</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2-2">
					<div class="line-2-cell">
						<div class="line-2-content-2">酒店旅游</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-warning">
					<div class="tableCell">
						<div class="content">医</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2">
					<div class="line-2-cell">
						<div class="line-2-content">医院</div>
					</div>					
				</div>
			</div>
		</div>
	
		<div class="hspace-10"></div>
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-warning">
					<div class="tableCell">
						<div class="content">银</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2">
					<div class="line-2-cell">
						<div class="line-2-content">银行</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-info">
					<div class="tableCell">
						<div class="content">服</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2-2">
					<div class="line-2-cell">
						<div class="line-2-content-2">公共服务</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-success">
					<div class="tableCell">
						<div class="content">后</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2-2">
					<div class="line-2-cell">
						<div class="line-2-content-2">品牌售后</div>
					</div>					
				</div>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<div class="table-media btn-primary">
					<div class="tableCell">
						<div class="content">保</div>
					</div>					
				</div>
				<br>
				<br>
				<div class="line-2-2">
					<div class="line-2-cell">
						<div class="line-2-content-2">保险证券</div>
					</div>					
				</div>
			</div>			
		</div>		
	</div>
	<div class="space-grey-22"><span>热门号码<span></div>
	<div class="container-fluid">
		<div class="hspace-10"></div>
		<div class="row">
			<div class="num">
				<div class="table-2 btn-primary">
					<div class="tableCell-2">
						<div class="content">ZTO</div>
					</div>					
				</div>
				<div class="bdy-right"><img src="img/phone.png"></div>
				<div class="bdy-head">中通快递</div>
				<br>
				<div class="bdy">95533</div>
			</div>
		</div>
		<div class="hdivider-1"></div>

		<div class="row">
			<div class="num">
				<div class="table-2 btn-warning">
					<div class="tableCell-2">
						<div class="content">STO</div>
					</div>					
				</div>
				<div class="bdy-right"><img src="img/phone.png"></div>
				<div class="bdy-head">申通快递</div>
				<br>
				<div class="bdy">95543</div>				
			</div>
		</div>
		<div class="hdivider-1"></div>

		<div class="row">
			<div class="num">
				<div class="table-2 btn-info">
					<div class="tableCell-2">
						<div class="content">招商</div>
					</div>					
				</div>
				<div class="bdy-right"><img src="img/phone.png"></div>
				<div class="bdy-head">招商银行</div>
				<br>
				<div class="bdy">95555</div>				
			</div>
		</div>
		<div class="hdivider-1"></div>

		<div class="row">
			<div class="num">
				<div class="table-2 btn-success">
					<div class="tableCell-2">
						<div class="content">农业</div>
					</div>					
				</div>
				<div class="bdy-right"><img src="img/phone.png"></div>
				<div class="bdy-head">农业银行</div>
				<br>
				<div class="bdy">95599</div>				
			</div>
		</div>
		<div class="hdivider-1"></div>

		<div class="row">
			<div class="num">
				<div class="table-2 btn-primary">
					<div class="tableCell-2">
						<div class="content">南方</div>
					</div>					
				</div>
				<div class="bdy-right"><img src="img/phone.png"></div>
				<div class="bdy-head">南方航空</div>
				<br>
				<div class="bdy">95539</div>				
			</div>
		</div>
		<div class="hdivider-1"></div>
		
		<div class="row">
			<div class="num">
				<div class="table-2 btn-warning">
					<div class="tableCell-2">
						<div class="content">浙商</div>
					</div>					
				</div>
				<div class="bdy-right"><img src="img/phone.png"></div>
				<div class="bdy-head">浙商银行</div>
				<br>
				<div class="bdy">95527</div>				
			</div>
		</div>
		<div class="hdivider-1"></div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>