{% if page.comments %}

    <!-- Message inviting everyone to comment -->
    <div class="discuss">
        If you liked this post, have any questions or fancy having a good discussion, please leave a comment below, or 
        <a href = "mailto:357228560ATqqDOTcom" 
           onclick = "this.href=this.href
                      .replace(/AT/,'&#64;')
                      .replace(/DOT/,'&#46;')"
        >send me an email.</a>
    </div>

    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="{{ page.title }}" data-title="农东辉" data-url="{{ page.url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"nongdonghui"};
    (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
    <!-- 多说公共JS代码 end -->
{% endif %} 
