cventry.title {
    color: blue;
}

cventry.place {
    color: grey;
}

cventry.date {
    color: red;
}

span.centredequation {
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: table;
}

img.centred {
    display: block;
    margin: auto;
}
