---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-meta">
      <span class="post-date">
          {{ page.date | date_to_string }}
      </span>
      <div class="post-meta-separator">
          &#x2016;
      </div>
      <span class="post-categories">
          <a href="/archive/#{{ page.categories }}">
              {{ page.categories | first | capitalize }}
          </a>
      </span>
  </span>
  {{ content }}
</div>

<hr>
<p><form action="{{ site.baseurl }}">
  <button class="btn btn-default btn-lg" href="{{ site.baseurl }}">
      Back to home...
  </button>
</form></p>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>

{% include comments.html %}
